#about.row {
    margin-top: 180px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

.row p {
    line-height: 40px;
}

.btn {
    background-color: #323232;
    padding: 0;
    border-radius: 12px;

}

button {
    background-color: #323232;
    color: #FAF5E9;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px solid;
    border-radius: 12px;
}

button:hover {
    background-color: #FAF5E9;
    color: #323232;
    transition: 0.7s;
}

.skills-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.skill span {
    margin-top: 5px;
}